<div class="row">
  <div class="col-lg-6">
    <%= form_for search_path, :html => { :class => "search-form" }, method: :get do |f| %>
      <div class="input-group">
        <%= text_field_tag :q, params[:q], :placeholder => "译文献，易研究", :class=>"form-control" %>

        <span class="input-group-btn">
          <%= submit_tag "YeePaper", name: nil, :class=>"btn btn-default" %>
        </span>
      </div><!-- /input-group -->
    <% end %>
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
<ul class="search-lists">
  <% @papers.each do |paper| %>
  <li class="search-list">
    <h3>
      <%= link_to paper.title, controller: "papers", action: "show", id: paper._id%>
    </h3>
    <p><i class="fa fa-user"></i> <%= paper.author_name %> <i class="fa fa-eye"></i> <%= paper.views_count %></p>

    <div class="search-content"><%= markdown(paper.content) %></div>
  </li>
  <% end %>
</ul>
