<div class="row">
  <div class="col-lg-6">
    <%= form_for search_path, :html => { :class => "search-form" }, method: :get do |f| %>
      <div class="input-group">
        <%= text_field_tag :q, params[:q], :placeholder => "译文献，易研究", :class=>"form-control" %>

        <span class="input-group-btn">
          <%= submit_tag "YeePaper", name: nil, :class=>"btn btn-default" %>
        </span>
      </div><!-- /input-group -->
    <% end %>
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
<ul>
  <% @papers.each do |paper| %>
  <li>
    <h3>
      <%= link_to paper.title, controller: "papers", action: "show", id: paper._id%> - <%= paper.author_name %>
    </h3>
    <p>查看人数：<%= paper.views_count %></p>

    <p><%= markdown(paper.content) %></p>
  </li>
  <% end %>
</ul>
