<p id="notice"><%= notice %></p>

<h1>Listing Papers</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @papers.each do |paper| %>
      <tr>
        <td><%= paper.title %></td>
        <td><%= paper.content %></td>
        <td><%= link_to 'Show', paper %></td>
        <td><%= link_to 'Edit', edit_paper_path(paper) %></td>
        <td><%= link_to 'Destroy', paper, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Paper', new_paper_path %>

<!--Baidu站内搜索开始-->
<form action="http://www.baidu.com/baidu">
  <input type=text name=word>
  <input type="submit" value="Baidu 搜索">
  <input name=tn type=hidden value="bds">
  <input name=cl type=hidden value="3">
  <input name=ct type=hidden value="2097152">
  <input name=si type=hidden value="http://localhost:3000/">
</form>
<!--Baidu站内搜索结束-->

<script type="text/javascript">
var domainroot="http://localhost:3000"//个人站点域名，替换成你的网站的网址即可
function Gsitesearch(curobj){
  curobj.q.value="site:"+domainroot+" "+curobj.qfront.value
}
</script>
<form action="http://www.Google.com/search" method="get" onSubmit="Gsitesearch(this)">
  <p>站内搜索:<br/>
    <input name="q" type="hidden" />
    <input name="qfront" type="text" style="width: 180px" /> <input type="submit" value="开始搜索">
  </p>
</form>
