<p id="notice"><%= notice %></p>
<h1>所有论文</h1>
<ul class="search-lists">
  <% @papers.each do |paper| %>
  <li class="search-list">
    <h3>
      <%= paper.title %>
    </h3>
    <p><i class="fa fa-user"></i> <%= paper.author_name %> <i class="fa fa-eye"></i> <%= paper.views_count %></p>
    <div class="search-content"><%= markdown(paper.content) %></div>
  </li>
  <% end %>
</ul>
