<p id="notice"><%= notice %></p>

<p>
  <strong>论文标题:</strong>
  <%= @paper.title %>
</p>
<p>
  <strong>原文作者:</strong>
  <%= @paper.author_name %>
</p>
<p>
  <strong>原文链接:</strong>
  <%= @paper.original_link %>
</p>

<p>
  <strong>论文内容:</strong>
  <%= markdown(@paper.content) %>
</p>

<%= link_to 'Edit', edit_paper_path(@paper) %> |
<%= link_to 'Back', papers_path %>
